__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

.vscode/
.idea/

result/tmp/
result/**/*.png

data/**
!data/
!data/**/
!data/**/*.md

figures_style_test/
figures_style_test2/
figures_style_selected/
figures_revert_check/
figures_3d_test/

